*{
    box-sizing: border-box;
    /* border: solid red 1px; */
}

body{
    margin: 0 auto;
    text-align: center;
    background-color: lightpink ;
    position: relative;
    top: 10vh;
        
}

h1, h2{
    font-family:Bungee, Arial, sans-serif;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    
}

table thead{
    background-color:deeppink ;
    font-weight: bold;
}

table, th, tr, td{
    border: solid 0.25em hotpink;
    padding: 0.50em;
}

